.container__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;
  width: 100%;
}

.list__boat--settings {
  text-align: left;
  li {
    list-style-type: none;
  }
}

.wrapper__submit-boat {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08), 0 1px 0 rgba(0,0,0,0.04);
  min-height: 350px;
  padding: 32px 16px;
  width: 400px;

  .emoji__cheers {
    font-size: 3em;
  }

  h3 {
    color: #1abc9c;
  }
}
