<div class="container__submit">
  <app-button-back></app-button-back>
  <div class="wrapper__submit-boat">
    <div class="emoji__cheers">🎉</div>
    <h3>C'est fini</h3>
    <p>Votre bateau sera bientôt visible par la plus grande communauté de marins qui souhaitent louer entre particuliers. Bienvenue sur Click & Boat !</p>
    <ng-container *ngIf="boatItems">
      <div *ngFor="let boat of boatItems">
        <strong>{{boat.type}}</strong>
        <p>{{boat.ownerType}}</p>
        <div *ngIf="boat.length">Longueur : {{boat.length}}m</div>
        <div *ngIf="boat.width">Largeur : {{boat.width}}m</div>
        <div *ngIf="boat.draught">Tirant d'eau : {{boat.draught}}m</div>
        <div *ngIf="boat.foil">Foil</div>
        <div *ngIf="boat.annex">Annexe</div>
        <div *ngIf="boat.equipment">Equipage</div>
      </div>
    </ng-container>
    <app-button [buttonText]="buttonText" routerLink="/" (click)="addBoat()"></app-button>
  </div>
</div>
