.box__boat {
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08), 0 1px 0 rgba(0,0,0,0.04);
  margin-bottom: 10px;
  padding: 12px;
  width: 400px;

  svg {
    margin-right: 12px;
  }
}

.button__search {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #dd4d93;
  border-color: #dd4d93;
  color: #ffffff;
  font: inherit;
  padding: 10px 16px;
}

.container__right {
  background-image: url('/../../assets/image6.jpg');
  background-size: cover;
}

.input__search {
  appearance: none;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
  font-size: 15px;
  height: 38px;
  margin-right: 12px;
}

i:not(:last-child):after {
  content: "\2022";
  margin-left: 4px;
  margin-right: 4px;
}
